<!DOCTYPE html>
<html>
<head>
	<title>Lost: your way</title>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>
	<pre>
Looks like you lost your way!

Why not search for something <a href="http://preeventualist.heroku.com/lost">here</a>?
	</pre>
</body>
</html>