<!DOCTYPE html>
<html>
<head>
	<title>What did you do??</title>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>
	<pre>
You forgot to include the following fields:

<%= errors.join("\n") %>
	</pre>
</body>
</html>