<!DOCTYPE html>
<html>
<head>
	<title>Catastrophe!!</title>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>
	<pre>
Oh no!! A terrible thing happened!

Try heading back to <a href="http://preeventualist.heroku.com/lost">the homepage</a>.
	</pre>
</body>
</html>