<!DOCTYPE html>
<html>
<head>
  <title>LOSING AND FINDING REGISTRY</title>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>
  <pre>
                     THE PREEVENTUALIST'S LOSING AND FINDING REGISTRY
          (a free service benefiting the ENLIGHTENED who have been LIGHTENED)

                                      ---
                      updates are made daily, please check back!
                                      ---

                         this service is commissioned and
                     subsidized in part by The Ashley Raymond
                                Youth Study Clan

                                      ...
                      all seals and privileges have been filed
                under the notable authorship of Perry W. L. Von Frowling,
          Magistrate Polywaif of Dispossession.  Also, Seventh Straight Winner
                   of the esteemed Persistent Beggar's Community Cup.
                                      ...

 ABOUT THE REGISTRY
 ==================
 Hello, if you are new, please stay with us.  A brief explanation of our service will 
 follow.  First, a bit of important news from our beloved magistrate.  (The kids call
 him Uncle Von Guffuncle. Tehe!)

 USING THE L&amp;F SERVER
 ====================
 The L&amp;F is a free service.  The acts of losing and finding are essential qualities in
 building a preeventualist lifestyle.  We hope to accomodate your belief.

 We do not use HTML, in order to simplify our work here.  Our guys are already working
 fifteen hour days.  (Thanks, Terk!!  Thanks, Horace!!)

 You may search our service for your lost items.  Or you may add your lost (or found)
 item to our registry.  This is done by typing the proper address into your browser.

 SEARCHING
 =========
 To search for lost items, use the following address:

   http://preeventualist.org/lost/search?q={search word}

 You may replace {search word} with your search term.  For example, to search for "cup":

   http://preeventualist.org/lost/search?q=cup

 You will be given a list of cups which have been lost or found.

 If you want to search for only lost cups or only found cups, use the `searchlost' and
 `searchfound' pages:

   http://preeventualist.org/lost/searchlost?q=cup
  </pre>
</body>
</html>